/* Theme: mcoop */
:root {
  --accent-color: #FF6600;
  --background-color: #ffffff;
  --border-color: #FF9933;
  --primary-color: #FF6600;
  --secondary-color: #FFCC99;
  --text-color: #333333;
  --doc-header-bg: #cc4e00;
  --doc-header-color: #ffffff;
  --doc-header-hover-bg: #a83e00;
  --doc-content-bg: #fff8f5;
  --doc-content-color: #333333;
}
