<h1>Debug Information</h1>

<h2>Debug Errors</h2>
[% IF c.stash.debug_errors %]
    <h3>Debugging Information</h3>
    <ul>
        [% FOREACH error IN c.stash.debug_errors %]
            <li>[% error | html %]</li>
        [% END %]
    </ul>
[% ELSE %]
    <p>No debug errors.</p>
[% END %]

<h1>Stash Information</h1>

[% USE Dumper %]
<h2>DBI Connection Status</h2>
<p>[% c.session.dbi_connected ? 'Connected' : 'Not connected' %]</p>

<h3>Stash Values.</h3>
<table>
    <tr>
        <th>Variable</th>
        <th>Value</th>
    </tr>
    [% FOREACH key IN c.stash.keys.sort %]
    <tr>
        <td>[% key %]</td>
        <td>
            [%# Check if the stash variable is an array reference %]
            [% IF ref(c.stash.$key) == 'ARRAY' %]
                [%# Use Dumper to display the contents of the array %]
                [% Dumper(c.stash.$key) | html %]
            [% ELSE %]
                [% c.stash.$key | html %]
            [% END %]

            [%# Check for errors in the stash %]
            [% IF key == 'debug_errors' AND c.stash.debug_errors.size > 0 %]
                <ul>
                    [% FOREACH error IN c.stash.debug_errors %]
                        <li>[% error | html %]</li>
                    [% END %]
                </ul>
            [% END %]
        </td>
    </tr>
    [% END %]
</table>

[% USE Dumper %]
<h1>Session Information</h1>
<table>
    <tr>
        <th>Variable</th>
        <th>Value</th>
    </tr>
    [% FOREACH key IN c.session.keys.sort %]
    <tr>
        <td>[% key %]</td>
        <td>
            [%# Check if the session variable is an array reference %]
            [% IF ref(c.session.$key) == 'ARRAY' %]
                [%# Use Dumper to display the contents of the array %]
                [% Dumper(c.session.$key) | html %]
            [% ELSE %]
                [% c.session.$key | html %]
            [% END %]
        </td>
    </tr>
    [% END %]
</table>
