[% PageVersion = 'admintopmenu.tt,v 0.2 2023/08/30 shanta Exp shanta ' %]
[% IF debug == 1 %]
    [% PageVersion %]
    [% #INCLUDE 'debug.tt' %]
[% END %]
<ul class="horizontal-menu">
    <li class="horizontal-dropdown">
        <a href="/admin" class="dropbtn">Admin</a>
        <div class="dropdown-content">
            <a href="/add_link?menu=admin">Add New Link</a>
    <div class="submenu-item">
    <span class="submenu-header"><a href="/admin" class="dropbtn">admin</a></span>
    <div class="submenu">
        <a href="/todo">ToDo</a>
        <a href="/todo/display_tables">ToDo Tables</a>
        <a href="[% c.uri_for(c.controller('Log').action_for('log')) %]">Open Log</a>
         <a href="[% c.uri_for(c.controller('project').action_for('project')) %]">Projects</a>
        via stash
        [% FOREACH todo IN c.session.todos %]

    <a href="/todo/details/[% todo.record_id %]">Priority: [% todo.priority %], Subject: [% todo.subject %]</a>
[% END %]
        Via DBI
  [%  FOREACH todo = c.stash.dbi_ency.do_sql("SELECT * FROM todo WHERE sitename = ? ORDER BY priority, due_date LIMIT 10", c.session.SiteName) %]
             <a href="/todo/details/Todo/[% todo.record_id %]">Priority: [% todo.priority %],
                 Subject: [% todo
                .subject %]</a>
        [% END %]
    </div>
</div>

<div class="submenu-item">
    <span class="submenu-header">ToDo</span>
    <div class="submenu">
        <a href="/todo">ToDo</a>
        <a href="/todo/display_tables">ToDo Tables</a>
        <a href="[% c.uri_for(c.controller('Log').action_for('log_form')) %]">Open Log</a>
         <a href="[% c.uri_for(c.controller('project').action_for('project')) %]">Projects</a>
        via stash
        [% FOREACH todo IN c.session.todos %]

    <a href="/todo/details/[% todo.record_id %]">Priority: [% todo.priority %], Subject: [% todo.subject %]</a>
[% END %]
        Via DBI
  [%  FOREACH todo = c.stash.dbi_ency.do_sql("SELECT * FROM todo WHERE sitename = ? ORDER BY priority, due_date LIMIT 10", c.session.SiteName) %]
             <a href="/todo/details/Todo/[% todo.record_id %]">Priority: [% todo.priority %],
                 Subject: [% todo
                .subject %]</a>
        [% END %]
    </div>
</div>

<div class="submenu-item">
    <span class="submenu-header"><a href="/file">File Management</a></span>
    <div class="submenu">
        <a href="/file">File</a>
    </div>

    <div class="submenu">
  <form action="file/search_and_insert" method="get">
    <label for="fileType">Select file type:</label>
    <select id="fileType">
        <option value="txt">Text</option>
        <option value="doc">Word Document</option>
        <option value="pdf">PDF</option>
        <option value="odt">Open Document</option>
        <option value="epub">eBook</option>
        <option value="jpg">JPEG Image</option>
        <option value="png">PNG Image</option>
        <option value="gif">GIF Image</option>
        <option value="mp4">MP4 Video</option>
        <option value="mp3">MP3 Audio</option>
        <option value="epub">EPUB eBook</option>
        <option value="mobi">MOBI eBook</option>
        <option value="azw">AZW eBook</option>
        <option value="fb2">FB2 eBook</option>
        <option value="ibooks">iBooks eBook</option>
        <option value="xls">Excel Spreadsheet</option>
        <option value="xlsx">Excel 2007+ Spreadsheet</option>
        <option value="ods">OpenDocument Spreadsheet</option>
        <option value="csv">CSV File</option>
        <option value="zip">zip File</option>
    </select>
       <input type="submit" value="Start Search">
</form>
    </div>
</div>

  <div class="submenu-item">
    <span class="submenu-header"><a href="/log">Loging</a></span>
    <div class="submenu">
        <a href="log">Loging system</a>
    </div>
</div>
          <div class="submenu-item">
    <span class="submenu-header">User</span>
    <div class="submenu">
        <a href="/user/list_users">List User</a>
        <a href="/todo/display_tables">ToDo Tables</a>
    </div>
</div>

            <div class="submenu-item">
                <span class="submenu-header">Setup</span>
                <div class="submenu">
                    <a href="/setup">Site Setup</a>
                    <a href="edit_documentation">Documentation editing</a>
                    <a href="documentation">Documentation</a>
                    <a href="/css_form">CSS Settings</a>
                    <a href="/admin/users">Users</a>
                    <a href="/display_schema">Schema</a>
                </div>
            </div>
            <div class="submenu-item">
                <span class="submenu-header">Select Domain</span>
                <div class="submenu">
                    <a href="?site=BMaster" class="site-dropdown-item" onclick="activateSite('BMaster')">BMaster</a>
                    <a href="?site=CSC" class="site-dropdown-item" onclick="activateSite('CSC')">CSC</a>
                    <a href="?site=Dev" class="site-dropdown-item" onclick="activateSite('Dev')">Dev</a>
                    <a href="?site=Monashee" class="site-dropdown-item" onclick="activateSite('Monashee')">Monashee</a>
                    <a href="?site=None" class="site-dropdown-item" onclick="activateSite('None')">None</a>
                    <a href="?site=Forager" class="site-dropdown-item" onclick="activateSite('Forager')">Forager</a>
                    <a href="?site=Shanta" class="site-dropdown-item" onclick="activateSite('Shanta')">Shanta</a>

                    <a href="?site=SunFire" class="site-dropdown-item" onclick="activateSite('SunFire')
">SunFire</a>
           <a href="/USBM?site=USBM" class="site-dropdown-item" onclick="activateSite('USBM')">USBM</a>
           <a href="?site=WB" class="site-dropdown-item" onclick="activateSite('wb')">WeaverBeck.com</a>
           <a href="/?site=home" class="site-dropdown-item" onclick="activateSite('home')
">Default home</a>               </div>
            </div>
            <div class="submenu-item">
                <span class="submenu-header">System Links</span>
                <div class="submenu">
                    <a href="/admin/edit_admin_notes">Edit Admin Notes</a>
                    [% FOREACH link = c.stash.dbi.query("SELECT * FROM page_tb WHERE (menu = 'Admin' AND status = 2) AND (sitename = '$SiteName' OR sitename = 'All') ORDER BY link_order") %]
                        <a href="/cgi-bin/index.cgi?site=[% SiteName %]&amp;[% session_string %]&amp;page=[% link.page_code %]" name="Contact" target="[% link.target %]" title=" [% linkview_.name %] "><font class="LeftSideBarNavStyle">[% link.view_name %]</font></a>
                    [% END %]
                </div>
            </div>
            <div class="submenu-item">
                <span class="submenu-header">TTML List</span>
                <div class="submenu">
                    [% FOREACH link = c.stash.dbi.query("SELECT * FROM internal_links_tb WHERE category = 'Admin_links' AND (sitename = '$SiteName' OR sitename = 'All') ORDER BY link_order") %]
                        <a href="[% link.url %]?site=[% SiteName %]&amp;[% session_string %]&amp;[% link.view_name %]" name="Contact" target="[% link.target %]" title=" [% link.name %] "><font class="LeftSideBarNavStyle">[% link.name %]</font></a>
                    [% END %]
                </div>
            </div>
            <div class="submenu-item">
                <span class="submenu-header">Other Options</span>
                <div class="submenu">
                    [% IF c.session.debug_mode == 1 %]
                        <a href="[% c.session.return_url %]?&debug=0">Toggle Debug Mode OFF</a>
                    [% ELSE %]
                        <a href="[% c.session.return_url %]?debug=1">Toggle Debug Mode ON</a>
                    [% END %]
            <a href="/debug" target="_blank">Debug</a>
                   <a href="https://forager.com:2087" target="_blank">Sunfire WHM</a>
                </div>
            </div>
        </div>
    </li>
</ul>