<!-- debug table --><table><tr>

<td>Record id </td><td></td></tr>
<tr><td>SiteName </td><td> </td></tr>
<tr>group  </td><td></td></tr>
<tr>ScriptDisplayName  </td><td></td></tr>
<tr>Page View name </td><td> </td></tr>
<tr>PageViewName pasted to script  </td><td></td></tr>
<tr>Status  </td><td></td></tr>
<tr>PageCode </td><td></td></tr>
<tr>Sitename form page  </td><td></td></tr>
<tr>Lastupdate  </td><td></td></tr>

</table><!-- debug table -->