/* Navigation styles */
nav {
  background-color: var(--nav-bg);
}

.horizontal-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: inline-block;
  color: var(--nav-text);
  text-align: center;
  padding: var(--spacing-medium);
  text-decoration: none;
}

.dropbtn:hover {
  background-color: var(--nav-hover-bg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg);
  min-width: 160px;
  box-shadow: var(--dropdown-shadow);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color);
  padding: var(--spacing-small) var(--spacing-medium);
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--nav-hover-bg);
}

.horizontal-dropdown:hover .dropdown-content {
  display: block;
}

/* Submenu Styles */
.submenu-item {
  position: relative;
}

.submenu-header {
  font-weight: bold;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 160px;
  background-color: var(--dropdown-bg);
  box-shadow: var(--dropdown-shadow);
  z-index: 1;
}

.submenu a {
  color: var(--text-color);
  padding: var(--spacing-small) var(--spacing-medium);
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu a:hover {
  background-color: var(--nav-hover-bg);
}

.submenu-item:hover .submenu {
  display: block;
}