
A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}
       BODY {
           color: black;
           background:  white;
           font-family : Verdana, Helvetica, sans-serif;
	   background-image : url("/images/apis/honey2.jpg") ;
       }

    P {
        font-family : Verdana, Helvetica, sans-serif;
        font-size : 15px;
    }
       TD {
           font-family : Verdana, Helvetica, sans-serif;
           font-size : 15px;
           vertical-align : top;
       }

       TH {
           font-family : Verdana, Helvetica, sans-serif;
           font-size : 15px;
           vertical-align : top;
           text-align : left;
       }
       A:link {
           color: #000000;
       }

       A:visited {
           color: #000000;
       }

       A:active {
           color: #000000;
       }
       
             
/************************************************************
*                   demnnstration list. STYLINGS            *
************************************************************/
/*

demonstration.css

Stylesheet for the demonstration of touch-friendly drop-down menus

Created by Kate Morley - http://code.iamkate.com/ - and released under the terms
of the CC0 1.0 Universal legal code:

http://creativecommons.org/publicdomain/zero/1.0/legalcode

*/

#demonstration > div{
  width  : 10em;
  margin : 0 auto 1.5em;
}

#dropdownCentred{
  text-align : left;
}

#dropdownCentred > li{
  text-align : left;
}
/************************************************************
*                   dropdown list. STYLINGS            *
************************************************************/
.dropdown,
.dropdown ul{
  border     : 1px solid );
  background : #D8CFA6;
  box-shadow : 0 0 4px rgba(0,0,0,0.25);
}

.dropdown ul{
  left : -1px;
}

[dir=rtl] .dropdown ul{
  right : -1px;
}

.dropdownVertical ul{
  left : 100%;
}

.dropdown ul ul,
.dropdownVertical ul{
  top : -1px;
}

.dropdown span{
  color       : #0000FF;
  font-family : 'Patua One',sans-serif;
  line-height : 2em;
  text-shadow : 0 0 0.125em rgba(0,0,0,0.25);
  cursor      : pointer;
  transition  : background 0.2s;
  
}

.dropdown li:hover > span,
.dropdown li.dropdownOpen > span{
  background-color : #FFCC66;
}

.dropdown > li > span{
  padding    : 0 24px 0 0.5em;
  background : url('http://code.iamkate.com/javascript/touch-friendly-drop-down-menus/arrow-down.svg') no-repeat right 13px;
}

[dir=rtl] .dropdown > li > span{
  padding    : 0 0.5em 0 24px;
  background : url('http://code.iamkate.com/javascript/touch-friendly-drop-down-menus/arrow-down.svg') no-repeat left 13px;
}

.dropdownVertical > li > span,
.dropdown ul span{
  padding    : 0 26px 0 0.5em;
  background : url('http://code.iamkate.com/javascript/touch-friendly-drop-down-menus/arrow-right.svg') no-repeat right 11px;
}

[dir=rtl] .dropdown ul span{
  padding    : 0 0.5em 0 26px;
  background : url('http://code.iamkate.com/javascript/touch-friendly-drop-down-menus/arrow-left.svg') no-repeat left 11px;
}

.dropdown ul ul ul span,
[dir=rtl] .dropdown ul ul ul span{
  padding          : 0 0.5em;
  background-image : none;
}

#dropdownMegaMenu li > div{
  width   : 16em;
  padding : 0.5em;
}

#dropdownMegaMenu li > div > div{
  float : left;
}

#dropdownMegaMenu table{
  margin : 0 auto 0 0;
}

#dropdownMegaMenu th,
#dropdownMegaMenu td{
  padding     : 0 0 0 0.5em;
  color       : white;
  font-family : 'Patua One',sans-serif;
  text-align  : left;
  text-shadow : 0 0 0.125em rgba(0,0,0,0.25);
}

.dropdown,
.dropdown ul,
.dropdown li{
  margin  : 0;
  padding : 0;
}

.dropdown ul,
[dir=rtl] .dropdown > .dropdownLeftToRight > ul{
  display  : none;
  position : absolute;
  top      : 100%;
  left     : 0;
  right    : auto;
  z-index  : 1;
}

[dir=rtl] .dropdown ul,
.dropdown > .dropdownRightToLeft > ul{
  left  : auto;
  right : 0;
}

.dropdown ul ul,
[dir=rtl] .dropdown ul .dropdownLeftToRight ul{
  top   : 0;
  left  : 100%;
  right : auto;
}

[dir=rtl] .dropdown ul ul,
.dropdown ul .dropdownRightToLeft ul{
  left  : auto;
  right : 100%;
}

.dropdown li{
  position        : relative;
  display         : block;
  list-style-type : none;
}

.dropdown > li{
  display : inline-block;
}

.dropdown a,
.dropdown span{
  display         : block;
  text-decoration : none;
  white-space     : pre;
}

.dropdown li:hover > ul{
  display : block;
}

.dropdownVertical{
  display : inline-block;
}

.dropdownVertical > li{
  display : block;
}

.dropdownVertical ul{
  top  : 0;
  left : 100%;
}

[dir=rtl] .dropdownVertical ul{
  left  : auto;
  right : 100%;
}

.dropdownJavaScript li:hover > ul{
  display : none;
}

.dropdownJavaScript li.dropdownOpen > ul{
  display : block !important;
}

/************************************************************
*                   SECTION HEADER STYLINGS                 *
************************************************************/
       .sectionHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                color : yellow;
                background : #FF9900;
        }
       .sectionHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                color : yellow;
                background : #FF9900;
        }


/************************************************************
*                   TABLE TABLE STYLINGS                    *
************************************************************/
       .MainPageTable {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top; 
                }

       .MainPageDataCell {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top; 
                }

       .HeaderCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top; 
                                
        }
       .TopHeaderBarStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                vertical-align : top;
                align : right; 
                
        }

/************************************************************
*                   TABLE HEADER STYLINGS                 *
************************************************************/

       .tableHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                font-weight : bold;
                color : white;
                vertical-align : top;
                background : #FFCC66;
        }
/************************************************************
*                   TABLE header login CELL STYLINGS                 *
************************************************************/

       .tablePageTopLoginCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : green;
                vertical-align : top;
           	text-align : right;
        }
        .HeaderBarNavStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : #0000FF;
                vertical-align : top;
           	text-align : right;
       }
/************************************************************
*                   TABLE CELL STYLINGS                 *
************************************************************/

       .tablePageTopWelcomeCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : green;
                vertical-align : top;
           	text-align : left;
        }

/************************************************************
*                   TABLE CELL STYLINGS                 *
************************************************************/

       .tableCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : black;
                vertical-align : top;
        }

/************************************************************
*                   TABLE ROW HEADER STYLINGS               *
************************************************************/

       .tableRowHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : black;
                background : #FFCC66;
                vertical-align : top;
                text-align : left
        }
/************************************************************
*                   TABLE ROW STYLINGS                      *
************************************************************/

       .tableRowStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 14px;
                color : black;
                background : white;
                vertical-align : top;
        }

/************************************************************
*               APPLICATION SUB MENU STYLINGS               *
************************************************************/

       .applicationSubMenuStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                color : black;
                background : white;
        }

       A.applicationSubMenuLinkStyle:link {
           color: black;
       }

       A.applicationSubMenuLinkStyle:visited {
           color: black;
       }

       A.applicationSubMenuLinkStyle:active {
           color: black;
       }

/************************************************************
*                   Warning box                             *
************************************************************/

       .warning {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 18px;
                color : red;
                background : #E5E5E5;
                text-align: center;
                vertical-align : top;
                border: medium green;
                border-style: dashed;
        }
.combobox {
 background-color: #FFFFFF;
 color: #808080;
 font-size: 10pt;
 font-family: arial;
 font-weight: bold;
}

/************************************************************
*                   Left Side Bar STYLINGS                      *
************************************************************/
       .LeftNavTableStyle {
                /*BACKGROUND:  #CCFFFF;*/
                WIDTH:       100%;
                BORDER: 0;
 }
      .NavtableHeaderCellStyle {
                /*background :  #CCFFFF;*/
                color : #0000FF;
                vertical-align : top;
                text-align: center;
 }
       .NavtableCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                /*background :  #CCFFFF;*/
                color : #0000FF;
                vertical-align : top;
                text-align : left;
       }

        .NavNewsCellStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                /*background :  #CCFFFF;*/
                color : black;
                vertical-align : top;
                text-align : left;
       }
             font.LeftSideBarHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : black;
                vertical-align : top;
                text-align : left;
        }

      font.LeftSideBarNavStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 12px;
                color : blue;
                vertical-align : top;
                text-align : left;
        }
td.LeftSideBarNavHeaderStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 20px;
                color : black;
                vertical-align : top;
                text-align : left;
       }

td.LeftSideBarNavLinkStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : black;
                vertical-align : top;
                text-align : left;
        }
font.HeaderMitegoneStyle {
                font-family : Verdana,Helvetica, sans-serif;
                font-size : 50px;
                color : black;
                vertical-align : bottom;
                text-align : left;
        }

font.LoginStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 10px;
                color : green;
                vertical-align : bottom;
                text-align : right;
        }
font.LogoStyle{
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 30px;
                color : black;
                vertical-align : bottom;
                text-align : center;
        }
font.PageTopStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 20px;
                color : black;
                vertical-align : bottom;
                text-align : center;
        }
dev.PageTopStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : black;
                vertical-align : bottom;
                text-align : center;
        }
font.ThankYouStyle {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 15px;
                color : black;
                vertical-align : bottom;
                text-align : right;
        }

/************************************************************
*                   Day Box Stylings                      *
************************************************************/

       .day_title_header {
                font-family : Verdana, Helvetica, sans-serif;
                color : black;
                background : #FFCC66;
                vertical-align : top;
                text-align : center;
        }


/************************************************************
*                   Month Box Stylings                      *
************************************************************/

       .month_title_header {
                font-family : Verdana, Helvetica, sans-serif;
                color : black;
                background : #FFCC66;
                vertical-align : top;
                text-align : center;
        }

       .month_wday_header {
                font-family : Verdana, Helvetica, sans-serif;
                color : black;
                background : #FF9900;
                vertical-align : top;
                text-align : center;
        }

       .month_day_cell_text {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 75%;
                color : black;
        }

       .month_day_cell_selected_text {
                font-family : Verdana, Helvetica, sans-serif;
                font-size : 75%;
                color : black;
        }

       .month_day_cell {
                background : #EEEEEE;
                vertical-align : top;
                text-align : center;
        }

       .month_day_cell_selected {
                background : #FFCC66;
                vertical-align : top;
                text-align : center;
        }

       .month_view_day_header {
                background : #999999;
                vertical-align : top;
                text-align : center;
        }

/************************************************************/
